@use "../../styles/variables" as v;

.carousel {
    position: relative;
    margin-bottom: 10px;

    @media screen and (min-width: 769px) {
        margin-bottom: 25px;
    } 

    &__button {
        position: absolute;
        top: 50%;
        outline: none;
        border: none;
        background: transparent;
        font-size: 24px;
        color: white;
        cursor: pointer;

        transform: translate(0%, -50%);
        
        @media screen and (min-width: 769px) {
            font-size: 48px;
        }

        &:hover {
            transform: translate(0%, -50%) scale(1.2);
        }
    }

    & img {
        height: 255px;
        width: 100%;
        border-radius: 10px;
        object-fit: cover;

        @media screen and (min-width: 769px) {
            height: 415px;
            border-radius: 25px;
        }
    }

    
}

.prev {
    left: 10px;

    @media screen and (min-width: 769px) {
        left: 20px;
    }
}

.next {
    right: 10px;

    @media screen and (min-width: 769px) {
        right: 20px;
    }
}

.carousel__dots {
    position: absolute;
    left: 50%;
    bottom: 15px;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    list-style-type: none;

    .carousel__dot {
        width: 10px;
        height: 10px;
        margin: 0 5px;
        background-color: black;
        border-radius: 50%;
        transition: background-color 0.3s;

        &.active {
            background-color: #FF6060; // Choisir la couleur de l'active
        }
    }
}

.logement-description {
    position: relative;
    display: flex;
    flex-direction: column;

    &__title2 {
        font-size: 18px;
        color: v.$common-red;
        margin-bottom: 10px;

        @media screen and (min-width: 769px) {
            font-size: 36px;
        }
    }

    & h3 {
        font-size: 14px;
        margin-bottom: 15px;

        @media screen and (min-width: 769px) {
            font-size: 18px;
        }
    }

    & h2, h3 {
        font-weight: 500;
    }

    &__tags {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: 30px;
        gap: 10px;
        color: white;

        & .tag {
            padding: 2px 25px;
            border: 1px solid transparent;
            border-radius: 5px;
            background-color: v.$common-red;
            font-size: 10px;
            font-weight: 700;

            @media screen and (min-width: 769px) {
                font-size: 14px;
            }
        }
    }

    &__tag-rate-container {
        display: flex;
        flex-direction: column;
        margin-bottom: 25px;

        @media screen and (min-width: 769px) {
            flex-direction: row;
            justify-content: space-between;
        }
    }

    &__collapses {
        display: flex;
        flex-direction: column;
        gap: 25px;
        margin-bottom: 50px;
        width: 100%;

        @media screen and (min-width: 769px) {
            flex-direction: row;
            gap: 25px;

            .collapse__dropdown__container {
                flex: 1;
                max-width: 100%;
            }
        }
    }

    &__host {
        position: absolute;
        right: 0;
        top: 88%;

        @media screen and (min-width: 769px) {
            top: 72%;
        }

        &__info {
            display: flex;
            gap: 10px;

            @media screen and (min-width: 769px) {
                gap: 25px;
            }
        }

        &__name {
            display: flex;
            align-items: center;
            text-align: end;
            width: 52px;
            font-size: 12px;
            color: v.$common-red;

            @media screen and (min-width: 769px) {
                font-size: 18px;
            }
        }

        &__picture {
            width: 32px;
            border-radius: 50%;

            @media screen and (min-width: 769px) {
                width: 64px;
            }
        }
    }
}

