$common-width: 100%;
$common-height: 100%;

//Variables du composant Banner
$mobile-banner-height: 111px;
$desktop-banner-height: 223px;
$mobile-banner-radius: 10px;
$desktop-banner-radius: 25px;


//Variable du composant Collapse
$collapse-bg: #FF6060;
$collapse-radius: 5px;
$collapse-padding: 10px;
$collapse-height-mobile: 30px;
$collapse-height-desktop: 52px;
$collapse-txt-color: white;