//Variable générale
$common-red: #FF6060;
$common-width: 100%;
$common-height: 100%;

//Variables du composant Banner
$mobile-banner-height: 111px;
$desktop-banner-height: 223px;
$mobile-banner-radius: 10px;
$desktop-banner-radius: 25px;


//Variable du composant Collapse
$collapse-radius: 5px;
$collapse-padding-mobile: 5px;
$collapse-padding-desktop: 10px;
$collapse-txt-color: white;

