@use "../../styles/variables" as v;


.collapse__dropdown {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1023px;
    margin: 0 auto;
    margin-bottom: 19px;
    gap: 19px;

    @media screen and (min-width: 769px) {
        margin-bottom: 38px;
        gap: 30px;
    }

    &__title {
    display: flex;
    justify-content: space-between;
    padding: 8px 16px;
    background-color: v.$common-red;
    border-radius: 5px;

        & h2 {
            color: white;
            font-size: 16px;
            font-weight: 700;

            @media screen and (min-width: 769px) {
                font-size: 24px;
            }
        }

        & p {
            display: flex;
            align-items: center;
            color: white;

            i {
            cursor: pointer;
            transition: transform 0.3s ease;
            }
        }
    }

    &__content {
        background-color: #F6F6F673;
        width: 100%;
        border-radius: 5px;
        max-height: 0;
        opacity: 0;
        overflow: hidden;

        transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
    
        &.open {
            max-height: 500px;
            opacity: 1;
        }

        p {
            font-size: 20px;
            font-weight: 400;
            color: black;
            padding: 12px;
        }
    }
}

.collapse__dropdown__title i {
    transform: rotate(0deg);

    @media screen and (min-width: 769px) {
        font-size: 32px;
    }

    &:hover {
        transform: scale(2);

        @media screen and (min-width: 769px) {
            transform: scale(1.5);
        }
    }
}
  
.collapse__dropdown__title i.rotate {
    transform: rotate(-180deg);
}