.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 45px;
    margin-bottom: 50px;

    &__logo-mobile {
        display: block;
    }

    &__logo-desktop {
        display: none;
    }

    @media screen and (min-width: 769px) {
        &__logo-desktop {
            display: block;
        }

        &__logo-mobile {
            display: none;
        }
    }

    & nav {
        display: flex;
        gap: 20px;
        font-size: 16px;
        font-weight: 500; 
        

        @media screen and (min-width: 769px) {
            gap: 50px;
            font-size: 24px;
        }

        & a {
            text-decoration: none;
            color: black;

            &.active {
                text-decoration: underline;
            }
        }
    }
}

