@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.container {
  margin: 0 15px;
  max-width: 1240px;

  @media screen and (min-width: 1240px) {
    margin: 0 calc((100% - 1240px) / 2 + 15px); 
  }
}

li {
    list-style-type: none;
}
